.bg-custom {
    background-color: #F8EEB7;
    /* Couleur de fond de la barre de navigation */
}

.navbar-brand {
    color: purple;
    /* Couleur du texte dans la barre de navigation */
}
.container {
    max-width: 400px;
}

.form-container {
    border: 2px solid rgb(88, 12, 101);
    border-radius: 15px;
    padding: 20px;
    background-color: #fff; /* Couleur de fond */
}

.form-label {
    font-weight: bold;
    color:  rgb(88, 12, 101);
}

.form-control {
    border-radius: 10px;
}

.btn-primary {
    background-color: rgb(88, 12, 101);
    border: none;
    border-radius: 10px;
}