

.card-3d {
    /* Adjust the margin values according to your preferences */
    transition: transform 0.5s;
    transform-style: preserve-3d;
    background-color: white;
    color: rgb(37, 35, 35);
    border-color:#dc4ee3;
   
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(230, 0, 255, 0.1), 0 1px 3px rgba(230, 0, 255, 0.08);
    
}
 
body {
    /*background-image: url("/img/imgvectoriel.jpg");*/
    background-color: rgb(215, 180, 230);
}

.card-3d:hover {
    transform: perspective(1000px) rotateY(10deg);
}

.logo {
    position: absolute;
    top: 55px; /* Modifiez cette valeur en fonction de la hauteur de la barre de navigation */
    right: 0;
 }


 .tenor-gif-embed img {
    width: 50%;
    height: auto;
}

.custom-card{

    width: 240px;
    margin: 0 10px; 
    
    
}

.row-cols-2 {
    gap: 0.5px;  /* Ajustez cette valeur */
}

.typewriter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.typewriter h1 {
    border-right: .15em solid orange;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    0% { color: transparent; }
    100% { color: inherit; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

