.bg-custom {
    background-color: #F8EEB7;
    /* Couleur de fond de la barre de navigation */
}

.navbar-brand {
    color: purple;
    /* Couleur du texte dans la barre de navigation */
}

custom-shear {
    height: 30px;
}

.custom-shear button {
    display: flex;
    align-items: center;
}
